body{

  background: #E6E6E6;
}

.container{
  background: #fff;
  box-shadow: 0 0 10px #000;
  height:750px;
  border-radius: 10px;
  padding:5px;
  border:1px solid #000;
  margin:0 auto;
  width:1220px;
  text-align: center;

}



.mapas{
  border: 1px solid #000;
  display: inline-block;
  vertical-align: top;
  height:700px;
  width:1200px;
}
#map {
  height: 400px;
  width: 100%;
 }
